SD/Práctica 4/Flow1.json
[{"id":"326935ea.bd7c9a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fdd49bc8.65af78","type":"http in","z":"326935ea.bd7c9a","name":"","url":"/suma","method":"get","upload":false,"swaggerDoc":"","x":80,"y":40,"wires":[["cc72cc0a.eeb67"]]},{"id":"e0551a5f.f15218","type":"http in","z":"326935ea.bd7c9a","name":"","url":"/resta","method":"get","upload":false,"swaggerDoc":"","x":80,"y":200,"wires":[["520cc92f.4c1bf8"]]},{"id":"297a266a.cdd7da","type":"http in","z":"326935ea.bd7c9a","name":"","url":"/multesc","method":"get","upload":false,"swaggerDoc":"","x":90,"y":360,"wires":[["c7379868.7e6af8"]]},{"id":"cc72cc0a.eeb67","type":"function","z":"326935ea.bd7c9a","name":"","func":"var a = msg.req.body.a\nvar b = msg.req.body.b\nvar c = []\n\nfor(i = 0; i < a.length; i++){\n  c[i] =a[i]+b[i];\n}\n\nmsg.payload = {\"Operacion\": msg.req.url , \"Parametro 1\" : a , \"Parametro 2\": b, \"Resultado\": c};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":40,"wires":[["1fc549f6.7bdcf6","b972323a.36fb2"]]},{"id":"1fc549f6.7bdcf6","type":"http response","z":"326935ea.bd7c9a","name":"","statusCode":"","headers":{},"x":420,"y":40,"wires":[]},{"id":"520cc92f.4c1bf8","type":"function","z":"326935ea.bd7c9a","name":"","func":"var a = msg.req.body.a\nvar b = msg.req.body.b\nvar c = []\n\nfor(i = 0; i < a.length; i++){\n  c[i] =a[i]-b[i];\n}\n\nmsg.payload = {\"Operacion\": msg.req.url , \"Parametro 1\" : a , \"Parametro 2\": b, \"Resultado\": c};\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["a2023599.d9f658","53f40a11.a3d984"]]},{"id":"a2023599.d9f658","type":"http response","z":"326935ea.bd7c9a","name":"","statusCode":"","headers":{},"x":480,"y":200,"wires":[]},{"id":"c7379868.7e6af8","type":"function","z":"326935ea.bd7c9a","name":"","func":"var a = msg.req.body.a\nvar b = msg.req.body.n\nvar c = []\n\nfor(i = 0; i < a.length; i++){\n  c[i] =a[i]*b;\n}\n\nmsg.payload = {\"Operacion\": msg.req.url , \"Parametro 1\" : a , \"Parametro 2\": b, \"Resultado\": c};\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":360,"wires":[["c5289a08.d013e8","9932896b.7c2e78"]]},{"id":"c5289a08.d013e8","type":"http response","z":"326935ea.bd7c9a","name":"","statusCode":"","headers":{},"x":460,"y":360,"wires":[]},{"id":"126885e7.855e7a","type":"http in","z":"326935ea.bd7c9a","name":"","url":"/divesc","method":"get","upload":false,"swaggerDoc":"","x":90,"y":520,"wires":[["da2bbcc6.eb4bd"]]},{"id":"da2bbcc6.eb4bd","type":"function","z":"326935ea.bd7c9a","name":"","func":"var a = msg.req.body.a\nvar b = msg.req.body.n\nvar c = []\n\nif (!b){\n    msg.payload = \"No se pudo realizar la división. \"\n}\nelse{\n    \n    for(i = 0; i < a.length; i++){\n        c[i] =a[i]/b;\n    }   \n    \nmsg.payload = {\"Operacion\": msg.req.url , \"Parametro 1\" : a , \"Parametro 2\": b, \"Resultado\": c};\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":520,"wires":[["5782ff40.2bc11","895d24de.be98f8"]]},{"id":"5782ff40.2bc11","type":"http response","z":"326935ea.bd7c9a","name":"","statusCode":"","headers":{},"x":440,"y":520,"wires":[]},{"id":"7d58978f.3b0438","type":"http in","z":"326935ea.bd7c9a","name":"","url":"/pot","method":"get","upload":false,"swaggerDoc":"","x":80,"y":680,"wires":[["a0b87ac3.431058"]]},{"id":"a0b87ac3.431058","type":"function","z":"326935ea.bd7c9a","name":"","func":"var a = msg.req.body.a\nvar b = msg.req.body.n\nvar c = []\n\nfor(i = 0; i < a.length; i++){\n    c[i] = 1 \n    for(k=0; k< b; k++){ \n        c[i] =  c[i] * a[i]\n    }\n}\n\nmsg.payload = {\"Operacion\": msg.req.url , \"Parametro 1\" : a , \"Parametro 2\": b, \"Resultado\": c};\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":680,"wires":[["3c6123c3.c6df7c","5d2fe29b.235e8c"]]},{"id":"3c6123c3.c6df7c","type":"http response","z":"326935ea.bd7c9a","name":"","statusCode":"","headers":{},"x":460,"y":680,"wires":[]},{"id":"b972323a.36fb2","type":"file","z":"326935ea.bd7c9a","name":"","filename":"D:\\Usuario\\pc\\log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":470,"y":100,"wires":[[]]},{"id":"53f40a11.a3d984","type":"file","z":"326935ea.bd7c9a","name":"","filename":"D:\\Usuario\\pc\\log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":490,"y":260,"wires":[[]]},{"id":"9932896b.7c2e78","type":"file","z":"326935ea.bd7c9a","name":"","filename":"D:\\Usuario\\pc\\log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":490,"y":420,"wires":[[]]},{"id":"895d24de.be98f8","type":"file","z":"326935ea.bd7c9a","name":"","filename":"D:\\Usuario\\pc\\log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":490,"y":580,"wires":[[]]},{"id":"5d2fe29b.235e8c","type":"file","z":"326935ea.bd7c9a","name":"","filename":"D:\\Usuario\\pc\\log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":490,"y":740,"wires":[[]]}]