SD/Práctica 4/Flow2.json
[{"id":"1d2a42be.4ea6dd","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"607c6d44.f2bbc4","type":"mqtt in","z":"1d2a42be.4ea6dd","name":"","topic":"/merakimv/Q2GV-Y4R8-5Z3L/light","qos":"2","datatype":"auto","broker":"d7cd11bc.40fb3","x":240,"y":220,"wires":[["58f3323e.350fac"]]},{"id":"58f3323e.350fac","type":"json","z":"1d2a42be.4ea6dd","name":"","property":"payload","action":"obj","pretty":false,"x":510,"y":220,"wires":[["db9b22d1.f8a89"]]},{"id":"db9b22d1.f8a89","type":"function","z":"1d2a42be.4ea6dd","name":"","func":"var a = msg.payload.lux\nvar b = flow.get('luxmax') || 0;\n\nif (a>b){\n    flow.set('luxmax', a);\n}\n\nmsg.payload = {\"Valor Recibido\" : a,\"Valor Máximo\" : flow.get('luxmax')};\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":220,"wires":[["273cb0f1.778fc"]]},{"id":"273cb0f1.778fc","type":"debug","z":"1d2a42be.4ea6dd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":220,"wires":[]},{"id":"826e3ce4.de85a","type":"mqtt out","z":"1d2a42be.4ea6dd","name":"","topic":"/merakimv/Q2GV-Y4R8-5Z3L/nivellum","qos":"","retain":"","broker":"d7cd11bc.40fb3","x":910,"y":540,"wires":[]},{"id":"e2c09ec.a778c6","type":"mqtt in","z":"1d2a42be.4ea6dd","name":"","topic":"/merakimv/Q2GV-Y4R8-5Z3L/nivellum","qos":"2","datatype":"auto","broker":"d7cd11bc.40fb3","x":230,"y":600,"wires":[["74cc586e.589a08"]]},{"id":"74cc586e.589a08","type":"debug","z":"1d2a42be.4ea6dd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":600,"wires":[]},{"id":"78e267c9.b1b738","type":"mqtt in","z":"1d2a42be.4ea6dd","name":"","topic":"/merakimv/Q2GV-Y4R8-5Z3L/light","qos":"2","datatype":"auto","broker":"d7cd11bc.40fb3","x":220,"y":540,"wires":[["6e82d10b.d78f1"]]},{"id":"6e82d10b.d78f1","type":"json","z":"1d2a42be.4ea6dd","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":540,"wires":[["58eeb42c.cd9dcc"]]},{"id":"58eeb42c.cd9dcc","type":"function","z":"1d2a42be.4ea6dd","name":"","func":"var a = msg.payload.lux\n\nif (a<100){\n    msg.payload={\"Luminosidad\": \"Baja\"}\n    return msg;\n}\nif (a> 99 && a<300){\n    msg.payload={\"Luminosidad\": \"Normal\"}\n    return msg;\n}\nif (a> 299 && a<1000){\n    msg.payload={\"Luminosidad\": \"Alta\"}\n    return msg;\n}\nif (a> 999){\n    msg.payload={\"Luminosidad\": \"Muy alta\"}\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":630,"y":540,"wires":[["826e3ce4.de85a"]]},{"id":"d7cd11bc.40fb3","type":"mqtt-broker","z":"","name":"","broker":"https://test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]