SD/Práctica 4/Flow3.json
[{"id":"5ae215e4.b8ac3c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"d87369f5.6093c8","type":"google-translate","z":"5ae215e4.b8ac3c","from":"auto","name":"","to":"es","x":600,"y":600,"wires":[["49bb2e88.b400e"]]},{"id":"f5cf72c9.50e22","type":"inject","z":"5ae215e4.b8ac3c","name":"","topic":"","payload":"How are you?","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":600,"wires":[["d87369f5.6093c8"]]},{"id":"49bb2e88.b400e","type":"debug","z":"5ae215e4.b8ac3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":600,"wires":[]}]